<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>图片上传</title>
    <link rel="stylesheet" th:href="@{/styles/global-pic.css}"/>

    <script th:src="@{/scripts/pic/jquery.1.10.2.min.js}"></script>
    <script th:src="@{/scripts/pic/placeholder.min.js}"></script>
</head>
<body>
    <div layout:fragment="displayDialog">

    </div>
</body>
</html>
